/* Root font size */
html {
  font-size: 100%; /* Esto asegura que los valores en rem sean proporcionales */
}

body {
  font-family: 'Arial', sans-serif; /* Asegúrate de que la fuente se ajuste bien */
}

/* Estilo del contenedor principal */
.hero-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.contactanos {
  position: relative;
  top: 10vh; /* Usa vh para adaptarse al viewport */
  font-size: 2rem; /* Usa rem en lugar de px */
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  text-align: center;
}

.agendar {
  position: relative;
  top: 11vh; /* Usa vh en lugar de px */
  color: white;
  animation: fadeIn 1.5s forwards;
}

.datos {
  position: relative;
  top: 10vh; /* Usa vh en lugar de px */
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  position: absolute;
  top: 3vh; /* Usa vh en lugar de px */
  left: 2rem; /* Usa rem en lugar de px */
  z-index: 20;
}

.profile-image {
  width: 20rem; /* Usa rem en lugar de px */
  height: auto;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.navbar4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  top: 10vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-logo4 {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  margin-right: auto;
}

.navbar-links4 {
  font-size: 1.25rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.navbar-link4 {
  color: #cdad7d;
  transition: all 0.2s ease-in-out;
}

.navbar-link4:hover {
  text-decoration: underline;
  color: #a38251;
}

.formulario-contacto {
  position: relative;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30rem; /* Usa rem en lugar de px */
  animation: fadeIn 0.5s forwards;
}

.formulario-contacto .form-group {
  margin-bottom: 1.5rem;
}

.formulario-contacto label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formulario-contacto input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formulario-contacto input:focus {
  outline: none;
  border-color: #007BFF;
}

.btn-submit {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.input-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-small {
  width: 15% !important;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-large {
  width: 80% !important;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-small:focus,
.input-large:focus {
  outline: none;
  border-color: #007BFF;
}

.phone-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.phone-input:focus {
  outline: none;
  border-color: #007BFF;
}

.boton-inicio2 {
  margin-top: 8rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #cdad7d;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  transition: background-color 0.3s;
  animation: fadeIn 1s forwards;
}

.boton-inicio2:hover {
  background-color: #b89e68;
}

.boton-inicio2:focus {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .navbar4 {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    top: -20vh;
  }
  
  .navbar-links4 {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .contactanos {
    position: relative;
    top: -20vh;
  }

  .datos {
    position: relative;
    top: -20vh;
  }

  .formulario-contacto {
    position: relative;
    top: -25vh;
  }

  .agendar {
    position: relative;
    top: -25vh;
  }

  .boton-inicio2 {
    position: relative;
    top: -35vh;
  }
}
