.hero-container4 {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}

.container4 {
  width: 100%;
  max-width: 1300px; /* Limitar el tamaño máximo */
  max-height: 100vh;
}
  .image-container2 {
    position: relative;
    left: 75%;  /* Esto coloca la imagen en la parte derecha */
    top: -34rem;
  
  }

  .heading-primary-quienes-somos {
    position: relative;
    top: 0rem;
    font-size: 2.5rem; 
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    text-align: center;
}
  
.heading-secondary-quienes-somos {
  margin: 0 auto; 
  padding: 1rem; 
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(255, 255, 255);
  position: relative;
  top:-3rem;
  right: 15%;
  max-width: 70%; /* Limita el ancho del texto */
  animation: fadeIn 1s forwards;
  text-align: justify;
}
  
  .about-text-wrapper {
    margin-bottom: 20rem;
  }
  
  .linkedin {
    font-size: 1rem; 
    color: rgba(255, 255, 255); 
    position: relative; 
    left: 38%;
    top: -2rem; /* AMOE STE COMANDO */
    animation: fadeIn 1s forwards;
  }
  
  .hipervinculo{
    color: #6ec2f0; 
    text-decoration: none; 
  }
  
  .hipervinculo:hover {
    color: #ff5733; /* Cambia el color cuando el usuario pase el moyuse sobre el enlace */
  }
  
  
  .vision {
    position: relative;
    top: 0rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  

  .profile-image {
    width: 300px; /*tamaño de la imagen */
    height: auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  
  .navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    position: relative;
    top: -1.6rem;
    margin: 0 auto;  /* Esto centra el navbar */
  width: 96%;
    margin: 0 auto;  /* Esto centra el navbar */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);
  }
  

.navbar-logo2 {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  margin-right: auto;
}
/* Ajustar el logo */
.logo3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  position: relative;
  top: 6rem;
  left: -15.9rem;
  z-index: 20;
  max-width: 180px;
}

/* Ajustar el enlace que contiene el logo */
.logo3 a {
  display: inline-block; /* Asegura que solo el logo sea clickeable */
  padding: 0; /* Eliminar cualquier padding alrededor del enlace */
  margin: 0; /* Eliminar cualquier margen alrededor del enlace */
}

/* Ajustar la imagen del logo */
.logo3 img {
  max-width: 180px;
  height: auto;
  display: block; /* Elimina cualquier espacio debajo de la imagen */
}

.navbar-links2 {
  font-size: 1.25rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.navbar-link2 {
  color: #cdad7d;
  transition: all 0.2s ease-in-out;
}

.navbar-link2:hover {
  text-decoration: underline;
  color: #a38251;
}

.containerlocked {
  width: 100%;
  max-width: 1300px; /* Limitar el tamaño */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 20px;
}

.seccion {
  overflow-y: hidden;
}


.boton-inicio3 {
  position: relative;
  top: -50rem;
  left: -200px;
  width: 100px;
  height: 200px;
  animation: fadeIn 1s forwards;
}

.contacto{
  position: relative;
  color: white;
  top: -53rem;
  left: -195px;
}

.footerQuienes {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  bottom: 0rem;
  width: 100%;
}

.footerQuienes a {
  color: #1e90ff;
  text-decoration: none;
}

.footerQuienes a:hover {
  text-decoration: underline;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width: 1700px) {
    .footerQuienes{
      bottom: -10rem;
    }
  }

@media (max-width: 1600px) {
.image-container2 {
  position: relative;
  left: 75%;
 top: -40rem;
}
.linkedin {
  position: relative; 
  left: 72.2%;
  top: -7rem;
  max-width: 30%;
}
.boton-inicio3 {
  position: relative;
  top: -830px;
  left: -90px;
  width: 90px; 
  height: 90px; 
}

.contacto{
  position: relative;
  color: white;
  top: -820px;
  left: -90px;
}
.footerQuienes{
  bottom: -18rem;
}

.navbar2{
  width: 77.5%;  /*tamaño del navbar */
  margin: 0 auto;  /*centra el navbar */
  top: -4.3rem;
}

.logo3, .logo3 a, .logo3 img{
  position: relative;
  top: 1.15rem;
  left: -1.25rem;
  z-index: 20;
}

}

@media (max-width: 1499px) {

  .boton-inicio3 {
    position: relative;
    top: -30rem;
    left: 2rem;
    width: 90px; 
    height: 90px; 
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -30rem;
    left: 1.8rem;
  }

  .logo3{
    left: 0rem;
  }
  .navbar2{
    width: 75%;  /*tamaño del navbar */
    margin: 0 auto;  /*centra el navbar */
  }
}
  
@media (max-width: 1200px) {
  .image-container2 {
    position: relative;
    left: 70%;
    top: -40rem;;
  }
  .linkedin {
    position: relative; 
    left: 73%;
    top: -6rem; 
    max-width: 20%;
  }
  .boton-inicio3 {
    position: relative;
    top: -25rem;
    left: 5rem;
    width: 90px; 
    height: 90px; 
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -25rem;
    left: 5rem;
  }
  .heading-secondary-quienes-somos {
    margin: 0 auto; 
    padding: 1rem; 
    font-size: 1.2rem;
    position: relative;
    top: 0rem;
    right: 15%;
    max-width: 60%; 
    animation: fadeIn 1s forwards;
    text-align: left;
  }
  .container4 {
    width: 100%;
    max-height: 100vh;
  }
  .footerQuienes{
    bottom: -55rem;
  }
  .navbar2{
    width: 60%;  /*tamaño del navbar */
    margin: 0 auto;  /*centra el navbar */
  }
  .logo3{
    left: 5rem;
  }
}


@media (max-width: 1000px) {
  .image-container2 {
    position: relative;
    left: 41%;
    top: -6rem;
    width: 200px; /* Ancho de la imagen */
    height: 300px; /* Alto de la imagen */
   
  }
  .linkedin {
    position: relative;
    left: 41.5%;
    top: 20rem; 
    max-width: 20%;
  }
  
  .heading-secondary-quienes-somos {
    margin: 0 auto; 
    padding: 1rem; 
    font-size: 1.2rem;
    position: relative;
    top: -3rem;
    right: 0%;
    max-width: 100%; /*ancho del texto */
    animation: fadeIn 1s forwards;
    text-align: justify;
  }

  .container4 {
    width: 100%;
    max-height: 100vh;
    
  }

  .boton-inicio3 {
    position: relative;
    top: -20rem;
    left: 5rem;
    width: 90px; 
    height: 90px; 
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -20rem;
    left: 5rem;
  }

  .footerQuienes{
    bottom: -35rem;
  }

  .navbar2{
    width: 61%;  /*tamaño del navbar */
    margin: 0 auto;  /*centra el navbar */
  }
  .logo3{
    left: 2rem;
  }
  }

  @media (max-width: 800px) {
    .image-container2 {
      position: relative;
      left: 40%;
      top: -5rem;
    }
    .linkedin {
      position: relative; 
      left: 32%;
      top: 18rem; 
      max-width: 40%;
    }
    .footerQuienes{
      bottom: -35rem;
    } 
.navbar2{
  top: 0rem;
}
.logo3{

  top: -2rem;
  margin: 0 auto;
}

  }



  @media (max-width: 760px) {
    .image-container2 {
      position: relative;
      left: 38%;
      top: -2rem;
    }
    .linkedin {
      position: relative; 
      left: 22%;
      top: 20rem; 
      max-width: 60%;
    }
    .footerQuienes{
      bottom: -45rem;
    } 
  }


  @media (max-width: 540px) {
    .image-container2 {
      position: relative;
      left: 33%;

    }

    .boton-inicio3 {
      position: relative;
      top: 5rem;
      left: 15.5rem;
      width: 70px; 
      height: 70px; 
    }
    
    .contacto{
      position: relative;
      color: white;
      top: 5rem;
      left: 14.7rem;
    }

    .footerQuienes{
      bottom: -70rem;
    }
  }

  


@media (max-width: 495px) {
  .navbar2 {
    flex-direction: column;
    padding: 0.75rem;
    width: 90%;
    top: 2rem;
  }
  .logo3{
    top: -1rem;
    margin: 0 auto !important; 
    left: 2.7rem;
  }
  .logo3 a {
    display: inline-block; /* Asegura que solo el logo sea clickeable */
    padding: 0; /* Eliminar cualquier padding alrededor del enlace */
    margin: 0; /* Eliminar cualquier margen alrededor del enlace */
    margin: 0 auto !important; 
  }
  
  /* Ajustar la imagen del logo */
  .logo3 img {
    max-width: 180px;
    height: auto;
    display: block; /* Elimina cualquier espacio debajo de la imagen */
    margin: 0 auto !important; 
  }
  .navbar-links2 {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .heading-primary-quienes-somos{
position: relative;
top: 2rem;
  }

  .heading-secondary-quienes-somos{
    position: relative;
    top: 2rem;
  }

  .vision{
    position: relative;
    top: 2rem;
  }

  .image-container2 {
    position: relative;
    left: 32%;
    top: 0rem;
  }
  .linkedin {
    position: relative; 
    left: 32.5%;
    top: 26rem; 
    max-width: 40%;
  }
  .boton-inicio3 {
    position: relative;
    top: 10rem;
    left: 13.5rem;
    width: 70px;
    height: 70px; 
  }
  
  .contacto{
    position: relative;
    color: white;
    top: 10rem;
    left: 12.9rem;
  }
  .footerQuienes{
    bottom: -80rem;
  }

}

@media (max-width: 450px) {
  .footerQuienes{
    bottom: -90rem;
  }
  
  .contacto{
    position: relative;
    color: white;
    top: 10rem;
    left: 11.2rem;
  }

  .boton-inicio3 {
    position: relative;
    top: 10rem;
    left: 12rem;
    width: 70px; 
    height: 70px; 
  }
}
@media (max-width: 400px) {
.footerQuienes{
  bottom: -120rem;
}

}
