.hero-container4 {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}

.container4 {
  width: 100%;
  max-width: 1300px; /* Limitar el tamaño máximo */
  max-height: 100vh;
}
  .image-container2 {
    position: relative;
    left: 75%;  /* Esto coloca la imagen en la parte derecha */
    transform: translateY(-100%);
  
  }

  .heading-primary-quienes-somos {
    position: relative;
    top: 160px;
    font-size: 2.5rem; /* Ajusta el tamaño para pantallas más pequeñas */
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    text-align: center;
}
  
.heading-secondary-quienes-somos {
  margin: 0 auto; /* Centra el texto horizontalmente */
  padding: 1rem; /* Espacio interno para mejor legibilidad */
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(255, 255, 255);
  position: relative;
  top: 110px;
  right: 15%;
  max-width: 70%; /* Limita el ancho del texto */
  animation: fadeIn 1s forwards;
  text-align: justify;
}
  
  .about-text-wrapper {
    margin-bottom: 20rem; /* Esto mueve solo el contenedor */
  }
  
  .linkedin {
    font-size: 1rem; 
    color: rgba(255, 255, 255); 
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 38%;
    top: 100px; /* AMOE STE COMANDO */
    animation: fadeIn 1s forwards;
  }
  
  .hipervinculo{
    color: #6ec2f0; /* Cambia el valor por el color que desees */
    text-decoration: none; /* Si no deseas subrayado */
  }
  
  .hipervinculo:hover {
    color: #ff5733; /* Cambia el color cuando el usuario pase el ratón sobre el enlace */
  }
  
  
  .vision {
    position: relative;
    top: 166px;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  


  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cdad7d;
    position: absolute;
    top: 30px; 
    left: 40px; 
    z-index: 20; 
  }
  

  .profile-image {
    width: 300px; /*tamaño de la imagen */
    height: auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  
.navbar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  top: 136px; /* Mueve el navbar hacia arriba */
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
}



.navbar-logo2 {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  margin-right: auto;
}

.navbar-links2 {
  font-size: 1.25rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem; /* Espacio entre los enlaces */
  align-items: center;
}

.navbar-link2 {
  color: #cdad7d;
  transition: all 0.2s ease-in-out;
}

.navbar-link2:hover {
  text-decoration: underline;
  color: #a38251;
}

.containerlocked {
  width: 100%;
  max-width: 1300px; /* Limitar el tamaño */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 20px; /* Opcional, para agregar margen interno */
}

.seccion {
  overflow-y: hidden;
}


.boton-inicio3 {
  position: relative;
  top: -550px;
  left: -200px;
  width: 100px; /* Ajusta según lo necesites */
  height: 200px; /* Ajusta según lo necesites */
  animation: fadeIn 1s forwards;
}

.contacto{
  position: relative;
  color: white;
  top: -600px;
  left: -195px;
}

.footerQuienes {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  bottom: 0rem;
  width: 100%;
}

.footerQuienes a {
  color: #1e90ff;
  text-decoration: none;
}

.footerQuienes a:hover {
  text-decoration: underline;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }



@media (max-width: 1600px) {
.image-container2 {
  position: relative;
  left: 75%;
  transform: translateY(-100%);
}
.linkedin {
  position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
  left: 72.2%;
  top: 80px; /* AMOE STE COMANDO */
  max-width: 30%;
}
.boton-inicio3 {
  position: relative;
  top: -830px;
  left: -90px;
  width: 90px; /* Ajusta según lo necesites */
  height: 90px; /* Ajusta según lo necesites */
}

.contacto{
  position: relative;
  color: white;
  top: -820px;
  left: -90px;
}
.footerQuienes{
  bottom: 0rem;
}
}

@media (max-width: 1499px) {
  .image-container2 {
    position: relative;
    left: 75%;
    transform: translateY(-160%);
  }
  .linkedin {
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 72.2%;
    top: 110px; /* AMOE STE COMANDO */
  }
  .boton-inicio3 {
    position: relative;
    top: -700px;
    left: 0px;
    width: 90px; /* Ajusta según lo necesites */
    height: 90px; /* Ajusta según lo necesites */
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -700px;
    left: 0px;
  }
}
  
@media (max-width: 1200px) {
  .image-container2 {
    position: relative;
    left: 70%;
    transform: translateY(-193%);
  }
  .linkedin {
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 73%;
    top: -20px; /* AMOE STE COMANDO */
    max-width: 20%;
  }
  .boton-inicio3 {
    position: relative;
    top: -700px;
    left: 70px;
    width: 90px; /* Ajusta según lo necesites */
    height: 90px; /* Ajusta según lo necesites */
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -700px;
    left: 70px;
  }
  .heading-secondary-quienes-somos {
    margin: 0 auto; /* Centra el texto horizontalmente */
    padding: 1rem; /* Espacio interno para mejor legibilidad */
    font-size: 1.2rem;
    position: relative;
    top: 110px;
    right: 15%;
    max-width: 60%; /* Limita el ancho del texto */
    animation: fadeIn 1s forwards;
    text-align: left;
  }
}


@media (max-width: 970px) {
  .image-container2 {
    position: relative;
    left: 35%;
    transform: translateY(-68%);
  }
  .linkedin {
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 42%;
    top: 570px; /* AMOE STE COMANDO */
    max-width: 20%;
  }
  
  .heading-secondary-quienes-somos {
    margin: 0 auto; /* Centra el texto horizontalmente */
    padding: 1rem; /* Espacio interno para mejor legibilidad */
    font-size: 1.2rem;
    position: relative;
    top: 110px;
    right: 0%;
    max-width: 100%; /* Limita el ancho del texto */
    animation: fadeIn 1s forwards;
    text-align: justify;
  }
  
  }

  @media (max-width: 800px) {
    .image-container2 {
      position: relative;
      left: 32%;
      transform: translateY(-62%);
    }
    .linkedin {
      position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
      left: 33%;
      top: 570px; /* AMOE STE COMANDO */
      max-width: 40%;
    }
    
  }

  @media (max-width: 530px) {
    .image-container2 {
      position: relative;
      left: 20%;
      transform: translateY(-68%);
    }
    .linkedin {
      position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
      left: 31%;
      top: 570px; /* AMOE STE COMANDO */
      max-width: 40%;
    }
    .boton-inicio3 {
      position: relative;
      top: -180px;
      left: 210px;
      width: 70px; /* Ajusta según lo necesites */
      height: 70px; /* Ajusta según lo necesites */
    }
    
    .contacto{
      position: relative;
      color: white;
      top: -180px;
      left: 200px;
    }

    .footerQuienes{
      bottom: -60rem;
    }
  }

  


@media (max-width: 480px) {
  .navbar2 {
    flex-direction: column;
    padding: 0.75rem;
    width: 100%;
    top: -210px;
  }
  
  .navbar-links2 {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .heading-primary-quienes-somos{
position: relative;
top: -170px;
  }

  .heading-secondary-quienes-somos{
    position: relative;
    top: -230px;
  }

  .vision{
    position: relative;
    top: -170px;
  }

  .image-container2 {
    position: relative;
    left: 14%;
    transform: translateY(-140%);
  }
  .linkedin {
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 33%;
    top: 270px; /* AMOE STE COMANDO */
    max-width: 40%;
  }
  .boton-inicio3 {
    position: relative;
    top: -480px;
    left: 170px;
    width: 70px; /* Ajusta según lo necesites */
    height: 70px; /* Ajusta según lo necesites */
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -480px;
    left: 160px;
  }
  .footerQuienes{
    bottom: -60rem;
  }
}


@media (max-width: 440px){
  .image-container2 {
    position: relative;
    left: 10%;
    transform: translateY(-140%);
  }
  .linkedin {
    position: relative; /* Esto asegura que no se vea afectado por el 'fixed' del h2 */
    left: 22%;
    top: 270px; /* AMOE STE COMANDO */
    max-width: 60%;
  }
  .boton-inicio3 {
    position: relative;
    top: -480px;
    left: 150px;
    width: 70px; /* Ajusta según lo necesites */
    height: 70px; /* Ajusta según lo necesites */
  }
  
  .contacto{
    position: relative;
    color: white;
    top: -480px;
    left: 140px;
  }
}
