/* Estilo del botón */
.container2 {
  width: 100%;
  max-width: 1500px; /* Limitar el tamaño máximo */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 20px; /* Opcional, para agregar margen interno */
}
.hero-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten mejor */
    justify-content: center;
    align-items: center;
    background-image: url('/bg.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }

  .heading-primary-quienes-somos3 {
    position: relative;
    top: 160px;
    font-size: 2.5rem; /* Ajusta el tamaño para pantallas más pequeñas */
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    text-align: center;
}
  
.heading-secondary-quienes-somos3 {
  margin: 0 auto; /* Centra el texto horizontalmente */
  padding: 1rem; /* Espacio interno para mejor legibilidad */
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  color: rgba(255, 255, 255);
  position: relative;
  top: 110px;
  right: 10%;
  max-width: 70%; /* Limita el ancho del texto */
  animation: fadeIn 1s forwards;
}


  
  .about-text-wrapper {
    margin-bottom: 20rem; /* Esto mueve solo el contenedor */
  }


  .hipervinculo{
    color: #6ec2f0; /* Cambia el valor por el color que desees */
    text-decoration: none; /* Si no deseas subrayado */
  }
  
  .hipervinculo:hover {
    color: #ff5733; /* Cambia el color cuando el usuario pase el ratón sobre el enlace */
  }
  
  
  .vision3 {
    position: relative;
    top: 166px;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  


  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cdad7d;
    position: absolute;
    top: 30px; /* Ajusta la distancia desde el borde superior */
    left: 40px; /* Ajusta la distancia desde el borde izquierdo */
    z-index: 20; /* Asegúrate de que el logo esté encima de otros elementos */
  }
  

li {
  color: white;
}

h3{
  color: white;
}

  

  .profile-image {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  
.navbar3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  top: 136px; /* Mueve el navbar hacia arriba */
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
}



.navbar-logo3 {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  margin-right: auto;
}

.navbar-links3 {
  font-size: 1.25rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem; /* Espacio entre los enlaces */
  align-items: center;
}

.navbar-link3 {
  color: #cdad7d;
  transition: all 0.2s ease-in-out;
}

.navbar-link3:hover {
  text-decoration: underline;
  color: #a38251;
}


  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  
@media (max-width: 480px) {
  .navbar3 {
    flex-direction: column;
    padding: 0.75rem;
    width: 100%;
    top: 85px;
  }
  
  .navbar-links3 {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .heading-primary-quienes-somos3{
    position: relative;
    top: 100px;
  }

  .vision3{
    position: relative;
    top: 100px;
  }

  .hero-container3{
    position: relative;
    top: -45px;
  }
}