@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth; /* Esto activa el desplazamiento suave */
}

body {
  background-image: url('/bg.png');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

.hero-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
}
.container {
  width: 100%;
  
  max-width: 1300px; /* Limitar el tamaño máximo */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 20px; /* Opcional, para agregar margen interno */
}

.text-main {
  flex: 1;
}

.text-main {
  text-align: center;
  color: #cdad7d;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 450px) {
  .navbar {
    flex-direction: column;
    padding: 0.75rem;
    width: 100%;
  }
  
  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .container {
    transform: translateY(0); /* Elimina el desplazamiento hacia arriba en pantallas pequeñas */
    margin-top: 300px; /* Ajusta el margen superior para dispositivos móviles */
  }
}
