@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth; /*desplazamiento suave */
}

body {
  background-image: url('/bg.png');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-x: hidden;
}

.text-main {
  flex: 1;
}

.text-main {
  text-align: center;
  color: #cdad7d;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 490px) {
  .navbar {
    flex-direction: column;
    padding: 0.75rem;
    width: 100%;
  }
  
  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

