.boton-inicio {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #cdad7d;
  color: rgb(255, 255, 255);
  padding: 0.75rem 1.5rem;
  position: relative;
  top: 13.5rem;
  transition: background-color 0.3s;
  animation: fadeIn 1s forwards;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1810px; /* Limitar el tamaño máximo */
  max-height: 100vh;
}


.boton-inicio:hover {
  background-color: #b89e68;
}

.boton-inicio:focus {
  outline: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  top: -10rem; 
  width: 68.5%;
  z-index: 10;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-logo {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  margin-right: auto;
}

.navbar-links {
  font-size: 1.25rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.navbar-link {
  color: #cdad7d;
  transition: all 0.2s ease-in-out;
}

.navbar-link:hover {
  text-decoration: underline;
  color: #a38251;
}

.heading-primary-inicio {
  margin-top: -8rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  position: relative;
  top: 13.5rem;
}

.heading-secondary-inicio {
  margin-top: 0rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  display: block;
  color: white;
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: relative;
  top: 13.5rem;
}

.loguis {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cdad7d;
  position: relative;
  z-index: 20;
  max-width: 180px;
  top: -3rem;
  left: -1rem !important;
}

/* Ajustar la imagen del logo */
.loguis img {
  max-width: 180px;
  height: auto;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  bottom: -10.5rem;
  width: 100%;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media(max-width: 1600px){
  .navbar{
    margin: 0 auto; 
    width: 67%;
    top: -9rem !important;
  }
  .loguis{
    top: -2rem !important;
    left: 0rem !important;
  }
  }
@media (max-width: 1499px) {
  .navbar{
    width: 67.6%;  /*tamaño del navbar */
    margin: 0 auto;  /*centra el navbar */
    top: -11.5rem !important;
  }
  .loguis{
    top: -3.5rem !important;
  }
}
  @media (max-width: 1200px) {
    .navbar{
      width: 62%;  /*tamaño del navbar */
      margin: 0 auto;  /*centra el navbar */
    }
    .loguis{
      left: 2.7rem !important;
    }
  }
  @media (max-width: 1000px) {
  }
  .loguis{
    left: 0rem !important;
  }


@media (max-width: 800px) {
  .navbar{
    top: -4.8rem !important;
  }
  .loguis{
    top: -4.8rem !important;
    left: 0rem !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 495px) {
  .navbar {
    flex-direction: column;
    padding: 0.75rem;
    width: 90%;
    top: -1rem !important;
  }
  .navbar-links {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .heading-primary-inicio{
    top: 14rem;
  }
  .heading-secondary-inicio{
    top: 14rem;
  }
  .loguis{
    left: 0rem !important;
  margin: 0 auto; 
  top: -2rem !important;
  }
  .footer{
    bottom: -18rem;
  }

}

@media (max-width: 495px) {
  .loguis{
    top: 0.5rem !important;
  }
  .navbar{
    top: 1rem !important;
  }
}

@media (max-width: 400px) {
.footer{
  top: 25rem;
}
}